html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  background-color: #000010;
  color: #fffbfe;
  font-family: "Inter";
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

*::after,
*::before {
  position: relative;
  box-sizing: border-box;
}
