html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  color: #fffbfe;
  font-family: "Inter";
  background-color: #000010;
}
body::before {
  content: "";
  z-index: -2;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom left, #5b2a86, #000010 40%);
  background-size: 100%;
}
body::after {
  content: "";
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000010;
  animation: bg-anim ease-in-out infinite 3s;
}

@keyframes bg-anim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
  font-family: "LibreBarcode";
  src: url("./assets/fonts/LibreBarcode39-Regular.ttf");
}

*::after,
*::before {
  position: relative;
  box-sizing: border-box;
}
