#nprogress .bar {
  background: #fffbfe;
  height: 3px;
}

#nprogress .peg {
  box-shadow: 0 0 10px #fffbfe, 0 0 5px #fffbfe;
}

#nprogress .spinner-icon {
  border-top-color: #fffbfe;
  border-left-color: #fffbfe;
}
